extends layout

mixin houseCard(house)
  .col-md-4.mb-4
    .card
      img.card-img-top(src=house.image || '/images/default_house.jpg', alt="House Image")
      .card-body
        h5.card-title= house.title
        p.card-text= house.description
        p.card-text.text-muted ₹#{house.rentAmount} / month
        a.btn.btn-primary(href=`/house/${house._id}`) View Details

block content
  .container.mt-5
    h1.text-center Available Houses

    .row
      each house in houses
        +houseCard(house)

    //- Conditional block for "Post a House"
    .mt-5
      if user
        include __postHouseForm
      else
        .text-center
          p.text-danger.mt-3 You need to log in to post a house.
          a.btn.btn-primary.mt-2(href="/login") Login to Continue.
